 #dari{
    display: block;
    border-color: #292b2c;
    border-radius: 5px;
    font-size: x-large;
    color: #292b2c;
    background-color: white;
}

 #jarak{
    display: block;
    border-color: #292b2c;
    border-radius: 5px;
    font-size: x-large;
    color: #292b2c;
    height: 60%;
    background-color: white;
}

#daerah{
    display: block;
    border-color: #292b2c;
    border-radius: 5px;
    font-size: x-large;
    color: #292b2c;
    height: 60%;
    background-color: white;
}

#satelit{
    display: block;
    border-color: #292b2c;
    border-radius: 5px;
    font-size: x-large;
    color: #292b2c;
    height: 60%;
    background-color: white;
}
label{
    color: #292b2c;
    font-size: larger;
}

.form{

    padding: 1%;
}

a{
    padding: 1%;
}
